@font-face {
  font-family: 'TradeGothic';
  src: url('../fonts/tradegothicltcom-light.eot');
  src: url('../fonts/tradegothicltcom-light.eot') format('embedded-opentype'),
       url('../fonts/tradegothicltcom-light.woff') format('woff'),
       url('../fonts/tradegothicltcom-light.ttf') format('truetype'),
       url('../fonts/tradegothicltcom-light.svg#TradeGothicLTComLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothic';
  src: url('../fonts/tradegothicltcom.eot');
  src: url('../fonts/tradegothicltcom.eot') format('embedded-opentype'),
    url('../fonts/tradegothicltcom.woff') format('woff'),
    url('../fonts/tradegothicltcom.ttf') format('truetype'),
    url('../fonts/tradegothicltcom.svg#TradeGothicLTComRoman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothic';
  src: url('../fonts/tradegothicltcom-cn18.eot');
  src: url('../fonts/tradegothicltcom-cn18.eot') format('embedded-opentype'),
    url('../fonts/tradegothicltcom-cn18.woff') format('woff'),
    url('../fonts/tradegothicltcom-cn18.ttf') format('truetype'),
    url('../fonts/tradegothicltcom-cn18.svg#TradeGothicLTComCondensedNo.18') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothic';
  src: url('../fonts/tradegothicltcom-bold.eot');
  src: url('../fonts/tradegothicltcom-bold.eot') format('embedded-opentype'),
    url('../fonts/tradegothicltcom-bold.woff') format('woff'),
    url('../fonts/tradegothicltcom-bold.ttf') format('truetype'),
    url('../fonts/tradegothicltcom-bold.svg#TradeGothicLTComBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
